@import "../../variables/variables";

.section {
  min-width: $w-mobile-min;
  max-width: $w-mobile-max;
  width: 100%;
  display: block;
  background-color: $bg-secondary;
  padding-top: 76px;
  padding-bottom: 94px;
}

.container {
  width: $container-mobile;
  margin: 0 auto;
}

.title,
.attention {
  margin: 0;
  text-align: center;
}

.title {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 12px;
}

.attention {
  margin-bottom: 38px;
}

.list {
  margin-bottom: 36px;
}


@media screen and (min-width: 768px) {
  .section {
    min-width: $w-tablet-min;
    max-width: $w-tablet-max;
    padding-top: 113px;
    padding-bottom: 124px;
  }

  .container {
    width: $container-tablet;
  }

  .title {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 21px;
  }

  .attention {
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1024px) {
  .section {
    min-width: $w-desktop-min;
    max-width: $w-desktop-max;
    padding-top: 156px;
    padding-bottom: 124px;
  }

  .container {
    width: $container-desktop;
    max-width: $container-max;
  }

  .title {
    font-size: 49px;
    line-height: 55px;
    margin-bottom: 21px;
  }

  .attention {
    margin-bottom: 80px;
  }
}
