@import "../../../variables/variables";

.container {
  width: 100%;
}

.list {
  @extend %default-list;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  &__item {
    width: 200px;

    &:nth-last-child(n + 4) {
      margin-bottom: 58px;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 36px;
    }
  }

}


@media screen and (min-width: 768px) {
  .container {
    width: 89%;
    margin: 0 auto;
    max-width: $container-max;
  }

  .list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1024px) {
  .list {
    margin-bottom: 40px;
    max-width: 799px;
  }
}

