@import "../../../variables/variables";

.container {
  width: 100%;
}

.list {
  @extend %default-list;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {

  }

}