@import './src/variables/variables';

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing:inherit;
}

body {
  margin: 0;
  background-color: $bg-primary;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
