@import "../../variables/variables";

.section {
  min-width: $w-mobile-min;
  max-width: $w-mobile-max;
  width: 100%;
  display: block;
  background-color: $bg-primary;
  padding-top: 76px;
  padding-bottom: 94px;
}

.container {
  width: $container-mobile;
  margin: 0 auto;
}


.title,
.attention {
  margin: 0;
  text-align: center;
}

.title {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 19px;
}

.attention {
  font-size: 16px;
  line-height: 22px;
  padding: 0 10px;
  margin-bottom: 29px;
}


@media screen and (min-width: 768px) {
  .section {
    min-width: $w-tablet-min;
    max-width: $w-tablet-max;
    padding-top: 109px;
    padding-bottom: 111px;
  }

  .container {
    width: $container-tablet;
  }

  .textWrapper {
    padding-left: 10px;
    width: 480px;
    display: block;
    margin: 0 auto;
    margin-bottom: 29px;
  }

  .title {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 19px;
  }

  .attention {
    padding-left: 9px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .section {
    min-width: $w-desktop-min;
    max-width: $w-desktop-max;
    padding-top: 147px;
    padding-bottom: 155px;
  }

  .container {
    width: $container-desktop;
    max-width: $container-max;
  }

  .textWrapper {
    padding-left: 0;
    width: 528px;
    display: block;
    margin: 0 auto;
    margin-bottom: 29px;
  }

  .title {
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 19px;
  }

  .attention {
    width: 468px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
}
